body {
  font-family: "Arial";
  color: #3b3b3b;
  /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
    background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
    background-size: 500% 500%;
    transition: background 3s ease;
    background-position: 50% 50%;
  margin: 0 auto;
}

@media (min-width: 468px) {
  .modal-dialog {
    width: 400px;
  }
}

body.center {
  display: block;
  text-align: -webkit-center;
}

input.divshake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

header.app-header {
  align-items: center;
  /* background: #ddd6f3; */
  background-image: linear-gradient(to right, #fccb90 0%, #d57eeb 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 45px;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  transition: margin-left 0.2s ease-in-out, margin-right 0.2s ease-in-out,
    width 0.2s ease-in-out;
  width: 100%;
  z-index: 100;
}

.container {
  padding-top: 50px;
}

.panel {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  border-radius: 0;
  background: transparent;
}

.modal-content h2 {
  color: #4c4c4c;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  /* padding: 0 20px 20px 20px; */
}

.modal-content {
  width: 100% !important;
  margin: 0px auto;
  border: 0px;
  overflow: hidden;
  border-radius: 0%;
  box-shadow: 0 0 15px rgba(#000, 0.2);
  border-radius: 0.3rem;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.12); */
}

.modal-content-mobile {
  max-width: 350px;
}

.modal-content-desktop {
  min-width: 700px;
}

@media (max-width: 991px) {
  .modal-content-responsive {
    max-width: 350px;
  }
}
@media (min-width: 992px) {
  .modal-content-responsive {
    min-width: 700px;
  }
}

.login-or {
  position: relative;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 8px;
}

.hr-or {
  color: #cdcdcd;
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.panel-left-border {
  border-left-style: solid;
  border-left-color: #f5f5f5;
  border-left-width: 2px;
}

.panel-right-border {
  border-right-style: solid;
  border-right-color: #f5f5f5;
  border-right-width: 2px;
  margin-right: -2px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  text-align: center;
  padding: 0px 5px 0px 5px;
  color: #a3a3a3;
}

.span-or-verical {
  font-size: 16px;
  display: block;
  position: absolute;
  top: 40%;
  margin-left: -25px;
  background-color: #fff;
  text-align: center;
  color: #a3a3a3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-customizable {
  max-width: 60%;
  max-height: 30%;
}

.banner-customizable {
  padding: 2px 0px 2px 0px;
  background-color: #ff3960;
}

.label-customizable {
  font-weight: 400;
}

.textDescription-customizable {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 16px;
}

.idpDescription-customizable {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 16px;
}

.legalText-customizable {
  color: #747474;
  font-size: 11px;
}

.submitButton-customizable {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
  height: 40px;
  width: 100%;
  color: #fff;
}

.submitButton-customizable:hover {
  color: #fff;
  /* background-color: #286090;
  border-color: #204d74 */
}

.errorMessage-customizable {
  padding: 5px;
  font-size: 14px;
  width: 100%;
  background: #f5f5f5;
  border: 2px solid #d64958;
  color: #d64958;
}

.inputField-customizable {
  width: 100%;
  height: 34px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

.inputField-customizable:focus {
  border-color: #66afe9;
  outline: 0;
}

.magiclink-btn {
  color: #3b3b3b;
  height: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  background-color: #bddf91;
  font-weight: bold;
  border-color: transparent;
  width: 100%;
}
.magiclink-btn:hover {
  background-color: #93ad72;
}

.idpButton-customizable {
  height: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  background-color: #bddf91;
  border-color: transparent;
  width: 100%;
}

.idpButton-customizable:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.socialButton-customizable {
  border-radius: 2px;
  height: 40px;
  margin-bottom: 15px;
  padding: 1px;
  text-align: left;
  width: 100%;
}

.redirect-customizable {
  text-align: center;
  font-size: 14px;
}

.passwordCheck-notValid-customizable {
  color: #df3312;
}

.passwordCheck-valid-customizable {
  color: #19bf00;
}

.background-customizable {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (max-width: 992px) {
  .panels-responsive {
    border: none;
    padding: 0;
    margin: 0;
  }
}
.socialButton-customizable.facebook-button {
  border-color: #a7a7a7;
  border-radius: 2px;
  background-color: white;
  color: #4285f4;
  font-weight: 600;
}
.socialButton-customizable.facebook-button:hover {
  background-color: #3f7ce8;
  color: white;
}
.socialButton-customizable.google-button {
  border-color: #a7a7a7;
  border-radius: 2px;
  padding: auto;
  background: white;
  color: #4285f4;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}
.socialButton-customizable.google-button:hover {
  background: #3f7ce8;
  color: #eee;
}
.socialButton-customizable.amazon-button {
  background-image: linear-gradient(#ffe8ab, #f5c645);
  border: 1px solid #b38b22;
  color: black;
}
.socialButton-customizable.amazon-button:hover {
  background-image: linear-gradient(#ebd498, #e1b144);
  border: 1px solid #b38b22;
}
.socialButton-customizable.apple-button {
  background-color: #000;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.socialButton-customizable.apple-button:hover {
  background-color: #000;
  color: #ccc;
}

.socialButton-customizable .social-logo {
  display: inline-block;
  height: 100%;
  margin-right: 12px;
  padding: 9px;
  text-align: center;
  vertical-align: middle;
}
.socialButton-customizable.facebook-button .social-logo {
  padding: 6px;
}
.socialButton-customizable.google-button .social-logo {
  background: #fff;
  border-radius: 2px;
}
.socialButton-customizable.amazon-button .social-logo {
  padding: 7px;
}
.socialButton-customizable.apple-button .social-logo {
  margin-top: -3px;
  padding: 8px;
}

/* css loading icon */
.simple-spinner {
  height: 48px;
  width: 48px;
  border: 5px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgb(150, 150, 150);
  animation: rotate 1s 0s infinite ease-in-out alternate;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile {
	margin: auto;
	height: 710px;
	width: 400px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

.header-color {
	border-radius: 20px 20px 0 0;
	padding-bottom: 150px;
	width: 400px;
	background: #a7bfe8;
}

.profile-pic img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 10px solid #ffffff;
	margin-top: -100px;
}

.title {
	margin-bottom: 25px;
}

